.container-app{
  height: 100vh;
  display: flex;
}
.container-app .left-side-component,
.container-app .right-side-component{
  width: 50% !important;
  position: relative;
  overflow: hidden;
}
/****Left Side Component Styles****/
.container-app .left-side-component img{
  width: 100%;
  height: auto;
}
.container-app .left-side-component .wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
.label-content{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.label-content h1, .label-content h2{
  font-weight: 300;
  text-align: center;
  color: white;
}
.label-content h1{
  font-size: 6rem;
}
.label-content h2{
  font-size: 3.5rem;
}
.links-content-list{
  width: 205px;
  margin: 85% auto;
}
.links-content-list ul{
  padding: 0;
  list-style-type: none;
  display: block;
}
.links-content-list ul li{
  float: left;
}
.links-content-list ul li:not(:first-child){
  margin-left: 15px;
}
.links-content-list ul li a{
  color: white;
  font-size: 2.5rem;
}

/****Right Side Component Styles****/
.container-app .right-side-component{
  background-color: white;
  padding: 25px 35px;
}
.form-link-title{
  color: #eeeeee;
  font-weight: 300;
  margin-bottom:50px;
}
.form-link-title .form-title-link{
  color: #dddddd;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: 0 10px;
  padding-bottom: 5px;
}
.form-link-title .form-title-link.active{
  color: #000;
  border-bottom: 1px solid #00bcd4;
}
/**Form Styles**/
.form-content{
  margin-bottom: 75px;
}
.form-field{
  margin-bottom: 1rem;
}
.form-field label{
  display: block;
  text-transform: uppercase;
  font-size: 1em;
  color: #424242;
}
.form-field .form-field-input{
  width: 85%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #00bcd4;
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}
.form-field-button{
  width:85%;
  display: block;
  margin-top: 25px;
  background-color:#00bcd4;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 1em;
  font-weight: bold;
  transition: 0.25s all;
  text-align: center;
}
.form-field-button.social-media.facebook{
  background-color: #677fb5 !important;
}
.form-field-button.social-media.google-plus{
  background-color: #d34836 !important;
}
.form-field-button.social-media.facebook i,
.form-field-button.social-media.google-plus i{
  margin-right: 10px;
}
.form-field-button:hover{
  opacity: 0.8;
  text-decoration: none;
  color: #fff;
}
.form-field-checkbox-content{
  color: #424242;
  font-size: 1em;
}
.form-field-terms{
  color: #000;
  border-bottom: 1px solid #00bcd4;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
}
.form-field-terms:hover{
  text-decoration: none;
  color: #000;
}
